# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# SQLite Database Caches and Uploads
uploads/
reports/
logs/
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE and Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
